services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: christmas-tree
    container_name: christmas-tree
    working_dir: /var/www
    volumes:
      - .:/var/www
    networks:
      - app-network
    # depends_on:
    #   - db
    environment:
      - DB_HOST=172.18.192.1
      - DB_PORT=3306
      - DB_DATABASE=christmas_tree
      - DB_USERNAME=root
      - DB_PASSWORD=root

  # db:
  #   image: mysql:8.0
  #   container_name: mysql
  #   restart: always
  #   environment:
  #     MYSQL_ROOT_PASSWORD: root
  #     MYSQL_DATABASE: laravel
  #   volumes:
  #     - dbdata:/var/lib/mysql
  #   networks:
  #     - app-network

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "8181:80"  # Map NGINX to port 8000 on host
    volumes:
      - .:/var/www
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
    networks:
      - app-network
    depends_on:
      - app
networks:
  app-network:
    driver: bridge
# volumes:
#   dbdata:
